.selectWrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.filter {
  width: 150px;
  height: 30px;
}

@media (max-width: 300px) {
  .selectWrapper {
    flex-direction: column;
    width: 100%;
  }
}